
.pop_up_mag{width:auto; max-width:500px; width:500px; display:inline-block; background-color:#EFEFEF; padding:20px; border-radius:5px; color: #222}
@media (max-width: 500px) {
.pop_up_mag{width:100%; padding:10px;}
}

.close_mag{position:absolute; right: 15px; top: 12px; font-size:20px; cursor:pointer; text-decoration:none; color:#FFF;  z-index:200}


body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
.additional {
	color: #38A7BB;
}
.clickable {
  cursor: pointer !important;
}
a {
	color: #38a7bb;
	text-decoration: none;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	transition:all .2s;
}
a:hover,
a:focus {
  color: #21991E;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 0;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/*navigation starts here*/
#mainNav {
	background-color:#fff;
	border-bottom:1px solid #eee;
	position:absolute;
	width: 100%;
	z-index: 1000;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#mainNav .navbar-brand {
	color: #21991E;
	font-weight:800;
}
div.navbar-collapse {
	width: 100%;
	margin: 0;
}
@media screen and (max-width: 380px) {
#mainNav .navbar-brand {
	font-size: 14px;
	padding-top: 20px;
}
}
#mainNav .navbar-toggle {
	color:#777;
	font-weight:800;
	text-transform:uppercase;
	font-size:12px;
	padding:13px;
	border: 1px solid #EBEBEB;
}
#mainNav .navbar-nav {
	list-style-type: none;
}
#mainNav .navbar-nav > li.nav-item > a {
	text-transform:uppercase;
	font-size:12px;
	font-weight:800;
	letter-spacing:1px;
	display: block;
	padding:20px;
	color: #121b1d;
}
#mainNav .navbar-nav > li.nav-item > a:hover {
	text-decoration: none;
}
.ml-auto {
    /*margin-left: auto !important;*/
	float: right;
}
@media screen and (max-width: 767px) {
.ml-auto {
    /*margin-left: auto !important;*/
	float: none;
	margin: 0;
	padding: 0;
}
#mainNav .navbar-nav > li.nav-item > a {
	text-align: center;
}
}
@media screen and (max-width: 317px) {
#mainNav .navbar-nav > li.nav-item > a {
	text-align: left;
}
}
@media only screen and (min-width:992px) {
	#mainNav {
		background:0 0;
		border-bottom:1px solid transparent;
	}
	#mainNav .navbar-brand {
		color:#fff;
		padding:20px;
	}
	#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover {
		color:rgba(255,255,255,.8);
	}
	#mainNav .navbar-nav>li.nav-item>a {
		color:#fff;
	}
	#mainNav .navbar-nav>li.nav-item>a:focus,#mainNav .navbar-nav>li.nav-item>a:hover {
		color: #21991E;
	}
}
@media only screen and (min-width:1170px) {
	#mainNav {
		-webkit-transition:background-color .2s;
		-moz-transition:background-color .2s;
		transition:background-color .2s;
		-webkit-transform:translate3d(0,0,0);
		-moz-transform:translate3d(0,0,0);
		-ms-transform:translate3d(0,0,0);
		-o-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
		-webkit-backface-visibility:hidden;
		backface-visibility:hidden;
	}
	#mainNav.is-fixed {
		position:fixed;
		top:-62px;
		background-color:rgba(255,255,255,.9);
		border-bottom:1px solid #fff;
		-webkit-transition:-webkit-transform .2s;
		-moz-transition:-moz-transform .2s;
		transition:transform .2s;
	}
	#mainNav.is-fixed .navbar-brand {
		color:#333;
	}
	#mainNav.is-fixed .navbar-brand:focus,#mainNav.is-fixed .navbar-brand:hover {
		color:#0085a1;
	}
	#mainNav.is-fixed .navbar-nav>li.nav-item>a {
		color:#333;
	}
	#mainNav.is-fixed .navbar-nav>li.nav-item>a:focus,#mainNav.is-fixed .navbar-nav>li.nav-item>a:hover {
		color:#0085a1;
	}
	#mainNav.is-visible {
		-webkit-transform:translate3d(0,100%,0);
		-moz-transform:translate3d(0,100%,0);
		-ms-transform:translate3d(0,100%,0);
		-o-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0);
	}
}

/*naviagation ends here*/


.home-carousel .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #043139;
  opacity: 0.7;
  filter: alpha(opacity=90);
  z-index: 1;
}
.home-carousel .owl-carousel {
  /*padding-top: 60px;
  padding-bottom: 20px;*/
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Bitter', serif;
  /*font-weight: 900;*/
  line-height: 1.1;
  color: #333333;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  margin: 0 0 10px;
}

.btn-xl {
	padding:15px 30px;
}
.btn-default {
	color:#222;
	background-color:#CCC;
	border-color: #CCC;
}
.btn-default.focus,.btn-default:focus {
	color:#222;
	border-color:#bfbfbf
}
.btn-default.active,.btn-default:active,.btn-default:hover,.open>.btn-default.dropdown-toggle {
	color:#222;
	border-color:#e0e0e0;
}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.btn-default.dropdown-toggle.focus,.open>.btn-default.dropdown-toggle:focus,.open>.btn-default.dropdown-toggle:hover {
	color:#222;
	background-color:#21991E;
	border-color:#bfbfbf;
}
.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover {
	background-color:#fff;
	border-color:#fff;
}
.btn-default .badge {
	color:#fff;
	background-color:#222;
}
.btn-primary.focus,.btn-primary:focus {
	color:#fff;
	border-color:#a4270d;
}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,.open>.btn-primary.dropdown-toggle {
	color:#fff;
	border-color:#e13612;
}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.btn-primary.dropdown-toggle.focus,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle:hover {
	color:#fff;
	background-color:#21991E;
	border-color:#a4270d;
}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover {
	background-color:#F05F40;
	border-color:#F05F40
}
.btn-primary .badge {
	color:#F05F40;
	background-color:#fff;
}

/*--banner-starts--*/
.banner-1{
	background:url(../images/banner.jpg) no-repeat center;
	min-height:660px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.banner-2{
	background:url(../images/banner-3.jpg) no-repeat;
	min-height:660px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.banner-3{
	background:url(../images/banner-2.jpg) no-repeat center;
	min-height:660px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
.slid-banner {
	padding: 10em 10em 0;
	text-align: center;
	color: #FFF;
	position: relative;
	font-family:"";
}
.banner-n{
	min-height:60px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}

@media screen and (max-width: 1199px) {
.banner-1, .banner-2, .banner-3{
	min-height: 600px;
}
.slid-banner {
	padding: 10em 5em 0;
}
}
@media screen and (max-width: 812px) {
.banner-1, .banner-2, .banner-3{
	min-height: 600px;
}
}
@media screen and (max-width: 640px) {
.banner-1, .banner-2, .banner-3{
	min-height: 500px;
}
.slid-banner {
	padding: 10em 2em 0;
}
}
@media screen and (max-width: 370px) {
.banner-1, .banner-2, .banner-3{
	min-height: 600px;
}
}
@media screen and (max-width: 258px) {
.banner-1, .banner-2, .banner-3{
	min-height: 1100px;
}
}
div.advertisement-message {
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 999;
	text-align: center;
	padding: 10em 0 0;
}
.slid-banner h1, div.advertisement-message h2 {
	color: #FFF;
}
.slid-banner h1, div.advertisement-message h1 {
	margin: 0 0 10px;
	padding: 0;
	color: #FFF;
	font-size: 3.5em;
}
.slid-banner p, div.advertisement-message p {
	font-size: 1.7em;
	color: #FFF;
}
div.advertisement-message span.small-image-above {
	color: #fff;
	font-size: 5em;
}
ul.features {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.features li {
	color: #555555;
	font-size: 1.7em;
}
@media screen and (max-width: 562px) {
.slid-banner h1, div.advertisement-message h1 {
	font-size: 2.5em;
}
.slid-banner p, div.advertisement-message p {
	font-size: 1.4em;
}
ul.features li {
	font-size: 1.4em;
}
div.advertisement-message span.small-image-above {
	color: #fff;
	font-size: 3.5em;
}
}
ul.features li i {
	color: #21991E;
}
.slid-banner p a {
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	background-color: #21991E;
	border: 1px solid #FFF;
	padding: 15px 30px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.slid-banner p a:hover {
	color: #FFF;
	background-color: transparent;
}
/*------------------ Slider Part starts Here----------*/
div.home-overlay {
	width: 100%;
	height: auto;
	min-height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}

.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks_nav {
  	position: absolute;
  	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	top: 82%;
	left: 14%;
  	opacity: 0.7;
  	z-index: 3;
  	text-indent: -9999px;
  	overflow: hidden;
  	text-decoration: none;
  	height: 30px;
  	width: 30px;
  	background: transparent url("../images/arrows.png") no-repeat left top;
}
.callbacks_nav:active {
  	opacity: 1.0;
}
.callbacks_nav.next {
  	left: auto;
  	background-position: right top;
  	right: 82.2%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides img {
  height: auto;
}
.callbacks_tabs {
	list-style: none;
	position: absolute;
	top: 27%;
	z-index: 999;
	left: 0%;
	width: 100%;
	text-align: center;
	margin: 0;
	display: none;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
	visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 6px;
	width: 60px;
	display: inline-block;
	border: none;
	background: #21991E;
}
.callbacks_here a:after{
	background:#181b2a;
}
ul.callbacks_tabs.callbacks2_tabs {
	display: block;
}
/*--Slider-Part-Ends-Here--*/

/*--Sign In Form For Home Page Starts Here--*/
div.signin-form {
	width: 100%;
	height: auto;
	overflow: hidden;
	/*padding: 2em 0 1em;*/
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 999;
}
div.signin-form div.message {
	text-align: center;
}
div.signin-form div.message h3 {
	color: #21991E;
}
div.home-signin-form div.username-field {
	width: 38%;
	height: auto;
	overflow: hidden;
	float: left;
	margin: 0 1%;
}
div.home-signin-form div.signin-button {
	width: 18%;
	height: auto;
	overflow: hidden;
	float: left;
	margin: 0 1%;
}
div.home-signin-form div.username-field input[type=text] {
	width: 100%;
	border: 0;
	display: block;
	padding: 15px;
	text-align: center;
}
div.home-signin-form div.username-field input[type=password] {
	width: 100%;
	border: 0;
	display: block;
	padding: 15px;
	text-align: center;
}

div.signin-button input[type=submit] {
	display: inline-block;
	border: 0;
	color: #Fff;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
	padding: 1.1em;
	background-color: #21991E;
}
div.signin-button input[type=submit]:hover {
	background-color: #21991E;
}
@media screen and (max-width: 640px) {
div.home-signin-form div.username-field {
	width: 100%;
	float: none;
	margin: 0 1% 15px;
}
div.home-signin-form div.signin-button {
	width: 100%;
	height: auto;
	overflow: hidden;
	float: none;
}
div.signin-button input[type=submit] {
	display: block;
	width: 100%;
}
}
button.register-button {
	border: 0;
	color: #Fff;
	text-transform: capitalize;
	text-align: center;
	width: 100%;
	padding: 1.1em;
	background-color: #21991E;
}
button.register-button:hover {
	background-color: #21991E;
}
div.privacy-policy p {
	color: #000;
	text-align: center;
	padding: 10px 0 0;
}
div.privacy-policy p a {
	color: #21991E;
}
/*--Sign In Form For Home Page Ends Here--*/

/*--Transaction History Starts Here--*/
div.transaction-history {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5em 0;
	background-color:#000;
}
div.transaction-history h2, div.who-we-are h2 {
	text-align: center;
	text-transform: capitalize;
	color: #21991E;
	font-size: 3.5em;
}
div.transaction-history p, div.who-we-are p {
	text-align: center;
	font-size: 1.6em;
}
@media screen and (max-width: 764px) {
div.transaction-history h2, div.who-we-are h2 {
	font-size: 2.5em;
}
div.transaction-history p, div.who-we-are p {
	text-align: center;
	font-size: 1.1em;
}
}
/*--flexisel--*/
.about-info-left p{
	font-size:1em;
	color:#999;
	margin:0;
	padding:3em 0 1em;
}
.about-info-left p span{
	top:-1em;
	left:1.2em;
	font-size:2.5em;
}

#flexiselDemo1 {
	display: none;
}
#flexiselDemo1 li {
	box-shadow: 0px 2px 4px 0px rgba(46, 61, 73, 0.2);
	background-color: #FFF;
}
#flexiselDemo1 li div.transaction-content {
	padding: 2em; border-radius:5px;
}
#flexiselDemo1 li div.transaction-message {
	background-color:#21991E;
	color:#FFF; font-weight:bold; font-family:"Arial Black";
	padding:5px 5px 5px 5px; border-radius:5px;
	width: 100%;
	height: auto;
	font-size: 1.2em;
}

#flexiselDemo1 li div.transaction-name {
	text-align: right;
	color: #21991E;
	font-family: 'Roboto Slab';
	margin-top: 1em;
	font-size:20px;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	/*text-align: center;*/
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 1.2;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 30px;
    height: 44px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
left: -7%;
top: 15% !important;
background: url(../images/img-sp.png) no-repeat 0px 0px;
}
.nbs-flexisel-nav-right {
right: -7%;
top: 15% !important;
background: url(../images/img-sp.png) no-repeat -27px 0px;
}
/*--//flexisel--*/

.fa-lst{margin:1em 2em;}
/*--Transaction History Ends Here--*/

/*--Who We Are Section Starts Here--*/
div.who-we-are {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #fff;
	padding: 5em 0 0;
}
div.top-message { margin-bottom: 5em; }
div.whoweare-container {
	width: 100%;
	height: auto;
	overflow: hidden;
}
div.whoweare-container h3 {
	margin: 1em 1em;
	padding: 0;
	color: #21991E;
	font-size: 2.1em;
}
div.whoweare-container h3.first-heading {
	margin: 0 0 1em 0;
}
div.whoweare-container p { text-align: justify; font-size: 1.6em; margin:1em 2em;  }
div.whoweare-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.whoweare-container ul li {
	line-height: 1.8;
	font-size: 1.3em;
}
div.whoweare-bg1.left {
	width: 45%;
	height: auto;
	overflow: hidden;
	float: left;
	min-height: 600px;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
div.whoweare-content.right {
	width: 55%;
	height: auto;
	overflow: hidden;
	float: right;
	padding: 0 3em 0 3em;
}
div.whoweare-bg2.right {
	width: 45%;
	height: auto;
	overflow: hidden;
	float: right;
	min-height: 600px;
	background-image: url(../images/banner-3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
div.whoweare-content.left {
	width: 55%;
	height: auto;
	overflow: hidden;
	float: left;
	padding: 0 3em 0 3em;
}
@media screen and (max-width: 991px) {
div.whoweare-bg1.left {
	width: 100%;
	float: none;
	min-height: 350px;
}
div.whoweare-content.right {
	width: 100%;
	float: none;
	padding: 3em 15px;
}
div.whoweare-bg2.right {
	width: 100%;
	float: none;
	min-height: 350px;
}
div.whoweare-content.left {
	width: 100%;
	float: none;
	padding: 0 15px 3em;
}
}
/*--Who We Are Section Ends Here--*/

/*--Testimonial Section Starts Here--*/
div.testimonials-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5em 0;
	background-color: #5FDF5B;
}
div.testimonials-container h3 {
	color: #21991E;
	font-size: 3.5em;
	text-align: center;
}
div.testimonials-container p {
	color: #21991E;
	font-size: 1.5em;
	text-align: center;
}

div.testimonials-container div.banner-info1 {
	padding: 2em;
    line-height: 1;
	background: #fff;
	box-shadow: 0px 2px 4px 0px rgba(46, 61, 73, 0.2);
	margin: 0 1em;
}
div.banner-info1 p {
	text-align: center;
	font-size: 1.6em;
}
div.banner-info1 p::before {
    content: "\f10d";
    font-family: FontAwesome;
    font-size: 18px;
    padding-right: 12px;
    margin-bottom: 10px;
    color: #21991E;
}
div.banner-info1 p::after {
	content: "\f10e";
	font-family: FontAwesome;
	font-size: 18px;
	padding-left: 12px;
	margin-bottom: 10px;
	color: #21991E;
}
div.banner-info1 h5 {
	text-align: center;
	color: #21991E;
	font-family: 'Roboto Slab';
	font-size: 1.2em;
}
/*--Testimonial Section Ends Here--*/

/*--SignUp CTA Section Starts Here --*/
div.signup-cta {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5em 0;
	background-color: #21991E;
	background-image: url(../images/banner-2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}
div.stay-on-top {
	position: relative;
	z-index: 5;
}
div.referral-commision {
	background-image: none;
}
div.signup-cta h2 {
	color: #fff;
	text-align: center;
	font-size: 3.5em
}
div.signup-cta p {
	text-align: center;
	font-size: 2em;
	color: #FFF;
	padding-bottom: 15px;
	font-family:"Times New Roman", Times, serif
}
div.signup-cta p a{
	display: inline-block
	text-align: center;
	font-size: 1em;
	color: #FFF;
	padding: 15px 25px;
	background-color: #21991E;
	text-decoration: none;
}
div.signup-cta p a:hover {
	background-color: transparent;;
}
@media screen and (max-width: 764px) {
div.whoweare-container h3 {
	font-size: 1.8em;
}
div.whoweare-container p { text-align: left; font-size: 1.1em; }
div.whoweare-container ul li {
	line-height: 1.8;
	font-size: 1.1em;
}
div.signup-cta h2 {
	font-size: 2.5em
}
div.signup-cta p {
	font-size: 1.1em;
}
div.testimonials-container h3 {
	font-size: 2.5em;
}
div.banner-info1 p {
	font-size: 1.1em;
}
div.signup-cta {
	padding: 1em 0;
}

div.testimonials-container {
	padding: 2em 0 5em;
}
}
/*--SignUp CTA Section Ends Here --*/

/*--Footer Section Ends Here --*/
div.footer-container {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 5em 0;
	background: #292E31;
	text-align: center;
	color: #FFF;
}
@media screen and (max-width: 768px) {
div.footer-container div.col-sm-4 {
	margin-bottom: 5em;
}
div.footer-container {
	padding: 5em 0 0;
}
}


div.footer-container h3 {
	margin-top: 0;
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	color: #fff;
}

div.footer-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
div.footer-container ul.quick-links li {
	display: block;
}
div.footer-container ul.quick-links li a {
	display: block;
	color: #d2d2d2;
	padding: 12px 0;
	border-bottom: 1px solid rgba(255,255,255,0.05);
}
div.footer-container ul.quick-links li a {
	color: #fff;
}
div.footer-container ul.contact-links li {
	display: block;
	padding: 0 0 12px;
}
ul.social-links li {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 2px solid #fff;
	border-radius: 100%;
	margin-right: 10px;
	cursor: pointer;
}
ul.social-links li:hover {
	background-color: #BA111F;
}
ul.social-links li a {
	font-size: 1.3em;
	color: #fff;
	display: inline-block;
	padding: 10px;
}
div.copyright {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 3em 0;
	background: #23272A;
}
div.copyright p {
	color: #fff;
	text-align: center;
}
/*--Footer Section Ends Here --*/
.mybtn4{ background-color:#0F3; min-width:20%; text-align:center; padding: 10px 10px 10px 10px; border-style:outset; border-color:#009; border-width: medium; color:#00C; font-weight:bolder; border-radius: 7px; min-width:200px;}
.mybtn4:focus, .mybtn4:hover{background-color: transparent}

.mybtn2{ background-color:#21991E; min-width:50%; text-align:center; padding: 10px 10px 10px 10px; border-style:outset; border-color:#009; border-width: medium; color:#00C; font-weight:bolder; border-radius: 7px;}
.mybtn2:focus, .mybtn2:hover{background-color:#999}

.dommie{display:none; width:100%; height:100%; top:0%; position: fixed; background-color:#000;opacity:0.6; z-index:9000;}
.dommie span{position:relative; display:block; top:40%; font-size:25px;  text-align:center; color: #FFFFFF;  padding:5px; 5px 5px 5px;}

.editdivv{font-weight: }
.editdivv input, .editdivv select, .editdivv textarea, .editdivv label{ padding-left:1px; border-color:#666; color:#000}
.mdivv{ font-weight:bolder; color:#000 }
.mdivv pre{font-size:16px; color:#666; font-weight: lighter; width:100%; white-space:pre-wrap; padding-left:0px; border-width:0px}

.mrotate{
	animation-name: mspin;
	animation-duration: 7000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes mspin{
	from{
		transform: rotate(0deg);}
		to{
			transform: rotate(360sdeg);}
			}